html,
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
  margin-top: 100px;
  align-items: center;
  height: 100vh;
  overflow: hidden;
}

.board {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 5px;
  row-gap: 5px;
  width: fit-content;
  height: fit-content;
  padding: 10px;
}

.cell {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 56px;
  height: 56px;
  border: 1px solid black;
  font-size: 3rem;
  cursor: pointer;
}

.cell:hover {
  background-color: #f0f0f0;
  scale: 1.04;
} 

.options{
  max-width: 600px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

#reset {
  margin: 20px 0;
}

#reset button {
  border: 2px solid blue;
  outline: none;
  background-color: blue;
  color: white;
  border-radius: 10px;
  padding: 5px 10px;
  cursor: pointer;
  font-weight: 700;
  transition: 0.4s;
}
#reset button:hover {
  transition: 0.4s;
  scale: 1.1;
}

#joinroom {
  margin: 20px 0;
  border: 2px solid blue;
  outline: none;
  background-color: white;
  padding: 4px;
  cursor: pointer;
  border-radius: 10px;
  transition: 0.3s;
}

#joinroom:hover {
  background-color: rgb(6, 6, 194);
  color: white;
  scale: 1.1;
  transition: 0.4s;
}

.player-o {
  background-color: burlywood;
}

.player-x {
  background-color: lightcoral;
}

#newroom{
  margin: 20px 10px;
  border: 2px solid blue;
  outline: none;
  background-color: white;
  padding: 4px;
  cursor: pointer;
  border-radius: 10px;
  transition: 0.3s;
}

#newroom:hover{
  background-color: rgb(6, 6, 194);
  color: white;
  scale: 1.1;
  transition: 0.5s;
}

#name, #roomid, #playerStatus, #player{
  margin: 20px 0;
  font-weight: 800;
}

span{
  font-weight: 400;
}